.wrapper{
	text-align: center;
}
.inputs{
	border: 2px solid;
	border-radius: 5px;
	max-width: 600px;
	margin: 20px auto;
	min-height: 30px;
	padding-top: 10px;
}
.btn{
	height: 50px;
	border-radius: 5px;
	cursor: pointer;
	min-width: 100px;
}
.btn:hover{
	background-color: silver;
}
.result{
	border: 2px solid;
	border-radius: 5px;
	min-height: 200px;
	display: flex;
 	flex-wrap: wrap;
}
.card {
    width: 200px;
    margin: 20px;
}

.card-image {
    display: block;
    width: 200px;
    height: 150px;
}