.wrapper{
  text-align: center;
}
.inputs{
  border: 2px solid;
  padding: 10px;
  margin: 10px auto;
  border-radius: 5px;
  max-width: 500px;
}
.btn{
  height: 50px;
  cursor: pointer;
  border-radius: 5px;
}
.btn:hover{
  background-color: silver;
}
.result{
  border: 2px solid;
  border-radius: 5px;
  min-height: 50px;
  display: flex;
  flex-wrap: wrap;
}
.card {
  width: 200px;
  margin: 20px;
}

.card-image {
  display: block;
  width: 200px;
  height: 150px;
}